<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>

        <File name="MyFile" fileName="/apps/logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>

        <Async name="Async">
            <AppenderRef ref="MyFile"/>
        </Async>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>

    </Appenders>

    <Loggers>

        <Logger name="APP" level="debug">
            <AppenderRef ref="MyFile"/>
        </Logger>

        <Logger name="org" level="error">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>